body {
	font-family: sans-serif; 
	width: 800px; 
	margin: 0 auto; 
	padding: 10px; 
}

h2 {
	font-size: 24px; 
	font-weight: bold; 
	margin-bottom: 20px;
}
.error {
	color: red; 
}

label {
	display: block; 
	font-size: 20px; 
}

label + label {
	margin-top: 20px; 
}
input[type=text] {
	width: 500px; 
	font-size: 20px; 
	padding: 2px; 
	font-family: monospace; 
}

textarea {
	width: 500px;
	height: 200px; 
	font-size: 17px;
	font-family: monospace;
}
input[type=submit] {
	font-size: 24px; 
}

.main-title {
	display: block; 
	color: #222; 
	font-size: 40px; 
	text-align: center; 
	margin-bottom: 30px; 
	text-decoration: none; 
}

.post + .post {
	margin-top: 15px; 
}

.post-heading {
	position: relative;
	border-bottom: 3px solid #666; 
}

.post-title {
	font-size: 24px; 
	font-weight: bold; 

}

.post-date {
	position: absolute; 
	right: 0px; 
	bottom: 0px; 
	color: #999; 
}

.post-content {
	margin-top: 5px; 
}

.login-logout {
	background-color: #d3d3d3; 
	text-decoration: none; 
	outline: 2px solid grey; 
	font-size: 20px; 
	float: right; 
	margin: 10px;
}

.back {
	background: #d3d3d3; 
	text-decoration: none; 
	outline: 2px solid grey; 
	font-size: 20px; 
}

.edit-post {
	text-decoration: none; 
	font-size: 16px; 
}

.post-title-link {
	text-decoration: none; 
}

.new-post {
	background-color: #d3d3d3; 
	text-decoration: none; 
	outline: 2px solid grey; 
	font-size: 20px;  
}

.username {
	font-size: 20px;
	margin-left: 80%;
	margin-right: 0px;
}

.edit-delete {
	background-color: #d3d3d3; 
	text-decoration: none; 
	outline: 2px solid grey; 
	font-size: 20px; 
	padding-right: 20px; 
	padding-left: 20px;  
	margin-right: 60px;
	margin-left: 60px;  
}

.like-post {
	text-decoration: none; 
	outline: 2px solid grey; 
	background-color: #d3d3d3;
	margin: 10px; 
}

.add-comment {
	text-decoration: none; 
	outline: 2px solid grey; 
	background-color: #d3d3d3; 
	margin: 10px; 
}

.edit-comment {
	text-decoration: none; 
	outline: 2px solid grey; 
	background-color: #d3d3d3; 
	margin: 10px; 
}