<!DOCTYPE html>
<htmL>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/styles.css" />

		<title> FullStackBlog</title>
	</head>
	<body>
		<a href="/blog" class="main-title">
		FullStackBlog
		</a><br>
		<div class="login-area">
			{% if user %}
				<p class="username">Logged in:{{user.name}}</p> <a class="login-logout" href="/logout" >Logout</a>
			{% else %}
				<a class="login-logout" href="/login">Login</a>
				<a class="login-logout" href="/signup">Signup</a>
			{% endif %}
		</div><br><br>

		<div id="content">
		{% block content %}
		{% endblock %}
		</div>
	</body>
</htmL>