{% extends "base.html" %}

{% block content %}
	<div>
		<a href="/newpost" class="new-post">New Post</a>
	</div>
	{% for post in posts %}

		{{ post.render() | safe }}
		<br><br>
		<div>
			<span>{{post.comments.count()}} Comment(s)</span>
			<span>{{post.likes}} Like(s)</span>
		</div>

		{% for c in post.comments %}

		<div class="comments">
			<div class="comment-author">{{c.parent().name }}</div>
			<p class="comment-content">{{c.content}}</p>
			{%  if user.name == c.author %}
			<a class="edit-comment" href="/editcomment/?post={{post.key().id()}}&comment={{c.key().id()}}">Edit Comment</a>
			<a class="edit-comment" href="/deletecomment/?post={{post.key().id()}}&comment={{c.key().id()}}">Delete Comment<a>
			{% endif %}
		</div>
		{% endfor %}

		<a class="add-comment" href="/addcomment/?post={{post.key().id()}}">Add new comment</a>
					{% if user.name == post.author %}
				<a class="edit-delete" href="/editpost/?post={{post.key().id()}}">Edit Post</a>&nbsp;&nbsp;
				<a class="edit-delete" href="/deletepost/?post={{post.key().id()}}">Delete Post</a>
			{% else %}
				<a class="like-post" href="/like/?post={{post.key().id()}}"> Like</a>

			{% endif %}
		
			
	{% endfor %}

	<div class="comments">
		<h4>Comments</h4>


{% endblock %}